<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8" />
	<title>味蕾挑战</title>
<script style='text/javascripts' src='/javascripts/prefixfree.min.js' ></script>
<link rel="stylesheet" href="/stylesheets/normalize.css">
<link rel="stylesheet" href="/stylesheets/demo.css">
<link rel="stylesheet" href="/stylesheets/datouwang.css">
		<link rel="stylesheet" href="/stylesheets/button.css">
<style type="text/css">
	html, body {
	  height: 100%;
	  overflow: hidden;
	}

	body {
	  background: #000;
	  perspective: 340px;
	}

	.stars {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 2px;
	  height: 2px;
	  box-shadow: -447px 387px #c4c4c4, -401px 118px #fafafa, -109px 217px #d9d9d9, -680px -436px #e3e3e3, 514px 360px #cccccc, -708px 298px #e8e8e8, -696px -270px #ededed, 116px -128px #f7f7f7, 179px 35px white, -404px -90px whitesmoke, -331px -309px #c4c4c4, -363px -24px #d1d1d1, 277px 416px #fafafa, -145px -244px whitesmoke, 123px 62px #d4d4d4, -407px 418px #d9d9d9, 535px 237px #d9d9d9, -466px -78px #f7f7f7, 257px 287px #dedede, 327px -398px #e0e0e0, -602px -38px #c2c2c2, 128px 398px #e6e6e6, 274px -446px #d1d1d1, -602px -298px #c7c7c7, 526px -5px #c4c4c4, -90px -158px #fcfcfc, 5px 294px whitesmoke, -633px 229px #c4c4c4, -475px 427px #dedede, 586px -453px #f2f2f2, 180px -432px #c7c7c7, -637px -88px #cfcfcf, -453px 308px #d6d6d6, -111px 1px #d9d9d9, 573px -450px #ededed, 198px 300px #d6d6d6, -355px 166px #dedede, -715px 13px #e3e3e3, 262px -104px #d1d1d1, 147px 325px #dbdbdb, 1px 399px #dbdbdb, 286px -100px white, 43px -329px #e8e8e8, 617px 55px #d9d9d9, -168px -392px #cccccc, 84px 219px #c9c9c9, 507px -226px #d9d9d9, -327px -70px #e6e6e6, 386px -212px #c4c4c4, -717px 4px #cfcfcf, 502px -231px #e3e3e3, 302px 56px #ededed, 649px 341px #c7c7c7, 569px 350px #c9c9c9, 516px -31px #e6e6e6, 689px 447px #c2c2c2, 591px -206px #fafafa, 422px -137px #e6e6e6, -510px -324px #cccccc, -649px 287px #c2c2c2, -194px -48px #f7f7f7, -279px -329px #d1d1d1, -406px 478px #dbdbdb, -735px -87px #c9c9c9, 30px -197px #dedede, -564px 233px #e6e6e6, -486px -324px #ededed, -54px -7px #ededed, -441px -194px #e3e3e3, -133px -95px #e0e0e0, -722px -73px #d6d6d6, 595px 423px #ededed, 568px -39px #ededed, 370px 377px #d1d1d1, -419px -102px #fcfcfc, -450px 109px #c4c4c4, -57px -119px #d1d1d1, -582px 150px #e6e6e6, 206px -263px #cfcfcf, 582px -461px #c9c9c9, -268px -141px #d9d9d9, -148px 291px #c7c7c7, 254px -179px #c9c9c9, 725px 424px #f0f0f0, 391px -150px #ebebeb, 89px -299px #d4d4d4, 170px 1px #c9c9c9, 243px 209px #c7c7c7, 27px 460px #c9c9c9, -465px -380px #d4d4d4, 530px -360px whitesmoke, -626px 53px #e0e0e0, 706px 218px #d9d9d9, 40px -82px #cccccc, -5px -212px #e6e6e6, -742px 33px #ebebeb, -714px 478px #e0e0e0, -585px -125px #cccccc, -216px 348px #cfcfcf, 601px 332px #ededed, 344px -88px #c4c4c4, 659px -22px #d1d1d1, -411px 188px #d6d6d6, -423px -206px #fcfcfc, -359px -136px #cfcfcf, 612px 406px whitesmoke, 725px 96px whitesmoke, 363px -446px white, -204px 325px #c9c9c9, 740px 176px #fafafa, -489px -352px white, -638px 64px #dbdbdb, 537px -65px #dbdbdb, 151px -32px #ebebeb, 681px 212px #fcfcfc, 604px -149px #e6e6e6, -542px -398px #c4c4c4, -707px 66px whitesmoke, -381px 258px #cfcfcf, -30px 332px #d6d6d6, 512px -381px #c9c9c9, 195px 288px #cccccc, -278px 479px #c7c7c7, 27px -208px #d6d6d6, -288px 15px white, -680px 248px #dedede, 433px 31px #c9c9c9, 150px -206px #d4d4d4, -79px 247px white, -594px 115px #e0e0e0, 99px 292px #e0e0e0, 673px -269px #dedede, -257px -64px #d1d1d1, 449px 81px #f2f2f2, 18px -99px #d1d1d1, -694px 415px #f7f7f7, 240px 264px #e0e0e0, 450px -172px white, 383px 7px #e8e8e8, 338px -73px #c9c9c9, 291px -19px #ebebeb, 659px 137px #d1d1d1, 602px -6px #fcfcfc, 554px 249px #ebebeb, 625px 356px #d9d9d9, 579px -183px #d6d6d6, -20px 250px white, -401px 431px #c4c4c4, -645px -232px #cccccc, -265px -148px white, 553px 258px #d1d1d1, 166px -360px #ebebeb, 719px 51px #ededed, 612px -129px #ebebeb, -465px -104px #f2f2f2, -154px -121px #d9d9d9, -1px 330px #f2f2f2, -666px 248px #f7f7f7, -720px 264px #ededed, 148px -365px #e6e6e6, -388px -349px #c4c4c4, 128px -88px #e3e3e3, -683px -274px #fafafa, -341px 41px #c9c9c9, -59px -471px #f0f0f0, -3px -427px #c2c2c2, 418px 167px #d6d6d6, 343px 247px #c7c7c7, 623px -347px #d1d1d1, 716px -217px white, 243px -409px whitesmoke, -75px -126px #d6d6d6, -730px -91px #c9c9c9, -210px -397px #cfcfcf, -349px 180px #c9c9c9, -567px -281px #e0e0e0, -460px 381px #fcfcfc, -310px -22px #ededed, 450px -1px #dbdbdb, -405px -328px #e3e3e3, 5px 332px #d6d6d6, -294px 302px #fcfcfc, -398px 97px whitesmoke, -696px 325px #cfcfcf, -589px 110px #d6d6d6, 353px -411px #dbdbdb, -697px -318px #ebebeb, -114px -72px #f0f0f0, 259px -193px #fcfcfc, 60px 26px #e6e6e6, -63px -232px white, 205px -372px #f7f7f7, -464px -333px #f2f2f2, -374px 123px white, -377px -386px #c7c7c7, -80px 337px #cccccc, 478px -178px #dbdbdb, 222px 420px #ebebeb, -707px 99px #c4c4c4, 716px -132px #fafafa, -253px -286px #e3e3e3, 646px 178px #f0f0f0, 201px 24px #d1d1d1, 178px -58px #c7c7c7, -557px 368px #ededed, 0px 219px #d9d9d9, -266px -269px #cccccc, 242px -197px #c9c9c9, -419px 193px #c2c2c2, -47px 91px #c7c7c7, -109px 75px #c2c2c2, -146px -453px #d6d6d6, 671px -350px #f2f2f2, 421px -91px #d9d9d9, 738px 19px #ededed, -316px -155px #dedede, 419px 244px #fcfcfc, -278px -418px #d6d6d6, -581px -181px #fcfcfc, 139px 264px #d9d9d9, 691px -11px #ebebeb, -622px 402px #c2c2c2, 219px 396px #f0f0f0, -149px -423px white, -716px -78px #d9d9d9, -590px 341px #e6e6e6, -208px 79px #d6d6d6, -227px -24px #f7f7f7, 239px 262px #d1d1d1, 740px 443px #f7f7f7, 509px 134px #d6d6d6, -555px 232px #e8e8e8, -67px -427px #cfcfcf, -368px 250px #f7f7f7, 715px -415px #fafafa, 411px -301px #f0f0f0, -322px 287px #d9d9d9, -429px -90px #f2f2f2, -327px -387px #f0f0f0, -491px 183px #c2c2c2, -133px 250px #d4d4d4, 538px 139px #e3e3e3, -417px -125px #f0f0f0, 653px -351px #e6e6e6, -549px 38px #d4d4d4, 602px 110px whitesmoke, 415px 105px #e0e0e0, -733px -371px #cfcfcf, 286px 403px #d4d4d4, 11px 320px #c4c4c4, -597px 158px whitesmoke, 716px -350px whitesmoke, 321px 67px #fafafa, -237px -300px #cfcfcf, 74px 152px #c9c9c9, 587px -123px #fcfcfc, 699px -332px whitesmoke, 399px 355px #f7f7f7, -323px 314px #dbdbdb, 89px 416px #c7c7c7, 445px 38px #e3e3e3, 572px 122px #c4c4c4, -258px 372px white, 49px 306px #d9d9d9, 437px -35px #dedede, 566px 174px #f2f2f2, 732px -299px whitesmoke, -410px 394px #ededed, 131px -415px white, 19px -326px #e8e8e8, -700px -188px #d1d1d1, 96px -1px #e0e0e0, -328px -396px #f0f0f0, -117px -214px #fcfcfc, -53px 261px #ebebeb, 80px 134px #d6d6d6, -364px -216px white, -636px -125px #dbdbdb, -639px -265px #e3e3e3, 208px 98px #c7c7c7, 172px 467px #e0e0e0, 435px 309px #e3e3e3, 194px -259px #f0f0f0, 209px -186px #c9c9c9, -312px 418px #fafafa, 229px 407px #c9c9c9, -449px -357px #fafafa, 674px 121px #e8e8e8, 608px -429px #ebebeb, -431px -428px #cfcfcf, 105px 462px #e3e3e3, -179px -372px #e3e3e3, 143px -317px #d6d6d6, -449px -149px #fafafa, -544px 250px #dedede, -220px -323px whitesmoke, 658px 8px whitesmoke, -656px -244px #e8e8e8, 347px 11px whitesmoke, 694px -230px #f7f7f7, -317px 1px #c4c4c4, 28px 23px #fcfcfc, -382px 321px #dbdbdb, 632px -74px #c4c4c4, 154px -245px #c2c2c2, -553px 337px #d6d6d6, -48px -243px #d1d1d1, 92px -391px #cccccc, -71px -256px #cfcfcf, -372px 57px #d9d9d9, 369px -140px #fcfcfc, 675px 81px #c2c2c2, -663px 254px #cccccc, 703px -203px #ededed, 74px -363px #c2c2c2, 643px -458px #d1d1d1, 198px 359px #cccccc, 265px 309px #d4d4d4, -353px -368px #e8e8e8, -465px 439px whitesmoke, 693px 360px #c9c9c9, 634px -397px #d1d1d1, 467px 25px whitesmoke, -558px -272px #e6e6e6, 671px 69px #dbdbdb, 407px 357px #cfcfcf, 379px 80px white, 10px -203px #c9c9c9, 104px -292px #f0f0f0, -667px -29px #d1d1d1, 557px -155px #e6e6e6, -505px 115px #cfcfcf, -605px 164px #f2f2f2, -108px -223px #e0e0e0, 523px -156px #ebebeb, 691px 230px white, -507px -13px #d1d1d1, -349px 332px #dedede, 520px 266px whitesmoke, -66px -250px #e6e6e6, -496px -449px #ebebeb, 414px -170px #dedede, -649px 230px #ebebeb, 598px -92px #c7c7c7, -638px 113px #c2c2c2, 151px 363px #f7f7f7, -445px -241px #f0f0f0, 527px -14px #dedede, 203px -61px #cfcfcf, -716px -284px #ebebeb, -525px 134px #c2c2c2;
	  
	  animation: fly 3s linear infinite;
	  -webkit-animation: fly 3s linear infinite;
	  -moz-animation: fly 3s linear infinite;
	  
	  transform-style: preserve-3d;
	  -webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	}
	.stars:before, .stars:after {
	  content: "";
	  position: absolute;
	  width: inherit;
	  height: inherit;
	  box-shadow: inherit;
	}
	.stars:before {
	  transform: translateZ(-300px);
	  -webkit-transform: translateZ(-300px);
	  -moz-transform: translateZ(-300px);
	  
	  opacity: .6;
	}
	.stars:after {
	  transform: translateZ(-600px);
	  -webkit-transform: translateZ(-600px);
	  -moz-transform: translateZ(-600px);
	  opacity: .4;
	}

	@keyframes fly {
	  from {
		transform: translateZ(0px);
		-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		opacity: .6;
	  }
	  to {
		transform: translateZ(300px);
		-webkit-transform: translateZ(300px);
		-moz-transform: translateZ(300px);
		opacity: 1;
	  }
	}
 .log-in a{
    font-family: 微软雅黑 ;
    font-weight: bold;
    line-height: 35px;

}
.log-out a{
    font-family: 微软雅黑 ;
    font-weight: bold;
    line-height: 35px;

}

.log-out{
	float:left;
	position:absolute
		top:0;
	left:0;

	}

	.log-in{
    z-index: 100;
    float:right;
    position:absolute;
top:0;
right:0;

}
</style>
</head>

<div class="log-out">

<a href="/manage" class="button button-glow button-rounded button-raised button-primary">管理员</a>
	<a href="/map" class="button button-glow button-rounded button-raised button-primary">地图</a>

</div>

<div class="log-in">
    <a href="/login" class="button button-glow button-rounded button-raised button-primary">登录</a>
    <a href="/reg" class="button button-glow button-rounded button-raised button-primary">注册</a>
    <a href="/logout" class="button button-glow button-rounded button-raised button-primary">登出☛</a>

</div>

<figure>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 136 166" xml:space="preserve">
	<ellipse id="shad" cx="68" cy="150" rx="40" ry="10"/>
		<g clip-path="url(#outer)">
			<use id="sea" xlink:href="#circ"/>
				<g id="boat1" class="vehicles"><use xlink:href="#boat"/></g>
				<g id="land">
					<use xlink:href="#map" transform="translate(300,-309)" />
					<use xlink:href="#map" transform="translate(600,-309)" />
				</g>
				<rect id="hi" mask="url(#light)" width="300" height="300"/>
				<g class="vehicles">
				  <g id="plane1"><use xlink:href="#plane"/></g>
				  <g id="plane2"><use xlink:href="#plane"/></g>
				  <g id="plane3"><use xlink:href="#plane"/></g>
				  <g id="bike1" ><use xlink:href="#bike" /></g>
				</g>
			</g>
		<defs>
		<clipPath id="outer">
			<circle id="circ" cx="60" cy="60" r="60"/>
		</clipPath>
		<mask id="light">
			<use xlink:href="#circ" x="-5" y="-12"/>
		</mask>
		<g id="bike">
		<circle id="head" cx="0.8" cy="4.7" r="0.8"/>
		  <path id="ride" d="M4.6,2.2c0,0.4,0.1,0.7,0.2,1L4.3,3.5H3.6c0-0.2-0.2-0.3-0.4-0.3c-0.2,0-0.4,0.2-0.4,0.4v1.1L1.6,5.3 c-0.1,0-0.1,0.10.1,0.1c0,0,0,0,0,0C1.2,5.7,1.2,6.1,1.5,6.3l2.1,1.8c0.2,0.2,0.6,0.2,0.8,0c0,0,0.1-0.1,0.1-0.1l0.4,0.3 C4.7,8.7,4.6,9,4.6,9.4c0,1.2,1,2.2,2.2,2.2S9,10.6,9,9.4c0-1.1-0.9-2.1-2-2.2l0-1.1h0.5C7.8,6.1,8,5.9,8,5.6S7.8,5.1,7.5,5.1H6.7 l-2-1.3l0.4-0.2c0.4,0.5,1,0.8,1.7,0.8C8,4.4,9,3.4,9,2.2S8,0,6.8,0S4.6,1,4.6,2.2z M2.6,5.6l0.8-0.4C3.5,5.2,3.6,5,3.6,4.9V4h0.6 v2.1L3.9,6.8L2.6,5.6z M8.5,9.4c0,1-0.8,1.7-1.7,1.7s-1.7-0.8-1.7-1.7c0-0.3,0.1-0.5,0.2-0.8l1.4,1c0.1,0.1,0.2,0.1,0.2,0 C7,9.6,7,9.5,7,9.4l0,0l0-1.7C7.9,7.8,8.5,8.5,8.5,9.4z M6.6,7.7l0,1.3l-1-0.7C5.8,8,6.2,7.8,6.6,7.7z M6.6,7.2 C6,7.3,5.5,7.6,5.1,8L4.7,7.6v0l0.6-1.5h1.3L6.6,7.2z M5.8,5.1H4.9c-0.1,0-0.2,0-0.2,0.1V4.4L5.8,5.1z M8.5,2.2 c0,1-0.8,1.7-1.7,1.7c-0.5,0-1-0.2-1.3-0.6l1.4-0.9C7,2.4,7,2.3,7,2.2c0,0,0-0.1,0-0.1C6.9,2,6.8,1.9,6.7,2L5.2,3 C5.1,2.7,5.1,2.5,5.1,2.2c0-1,0.8-1.7,1.7-1.7S8.5,1.3,8.5,2.2z"/>
		</g>
		<path id="plane" d="M20,9.7c0,0-0.2-0.9-0.4-1c-0.1,0-1-0.4-2.2-1l0.2-0.9h-1.2l0.1,0.5c-0.7-0.3-1.4-0.6-2-0.9l0.1-0.8h-1.2L13.4,6 c-1.1-0.5-2-0.9-2-0.9C11.4,4.3,11.3,0,10,0S8.6,5.1,8.6,5.1S7.7,5.5,6.6,6l0.1-0.3H5.4l0.1,0.8C4.9,6.7,4.2,7,3.5,7.3l0.1-0.5H2.5 l0.2,0.9c-1.2,0.5-2.1,0.9-2.2,1C0.2,8.8,0,9.7,0,9.7l8.7-1.3l0.4,6.6l-2.7,1.7l0,0.4l3.7-0.5l0,0l3.7,0.5l0-0.4l-2.7-1.7l0.4-6.6 l5.5,0.8L20,9.7z"/>
		<path id="boat" d="M4.2,0C2.4,0,0,3.9,0,3.9V4c0,0.2,0.2,0.4,0.4,0.6c0.3,0.2,0.7,0.5,0.7,1.1S0.7,6.6,0.4,6.8C0.2,7.1,0,7.2,0,7.4 v0.1c0,0.2,0.2,0.4,0.4,0.6c0.3,0.2,0.7,0.5,0.7,1.1c0,0.6-0.4,0.9-0.7,1.1C0.2,10.6,0,10.8,0,11v0.1c0,0.2,0.2,0.4,0.4,0.6 c0.3,0.2,0.7,0.5,0.7,1.1S0.7,13.7,0.4,14C0.2,14.2,0,14.3,0,14.5v0.1c0,0.2,0.2,0.4,0.4,0.6c0.3,0.2,0.7,0.5,0.7,1.1 c0,0.6-0.4,0.9-0.7,1.1C0.2,17.7,0.1,17.8,0,18c0.2,1.2,3.3,2,3.3,2l0.1-1.9h3.1l0.1-2h2.2v-2.1H6.8L7,9.1c0,0-1.4-2.5-3.1-2.7 L4.2,0z M4.9,14.9c0.5,0,0.9,0.4,0.9,0.9c0,0.5-0.4,0.9-0.9,0.9c-0.5,0-0.9-0.4-0.9-0.9C4,15.3,4.4,14.9,4.9,14.9z M5.1,12.1 c0.5,0,0.9,0.4,0.9,0.9C6,13.6,5.6,14,5.1,14s-0.9-0.4-0.9-0.9C4.2,12.6,4.6,12.1,5.1,12.1z M5.3,9.4c0.5,0,0.9,0.4,0.9,0.9 c0,0.5-0.4,0.9-0.9,0.9s-0.9-0.4-0.9-0.9C4.3,9.8,4.8,9.4,5.3,9.4z M3.1,1.3c0.3,0,0.5,0.2,0.5,0.5S3.4,2.3,3.1,2.3 c-0.3,0-0.5-0.2-0.5-0.5S2.8,1.3,3.1,1.3z"/>
		<path id="map" d="M-205.3,444.2c-1-0.2-1.4-0.7-1.2-1.6c0.6-1.5,4.1,1.4,4.9,1.6C-204,444.3-202.8,444.6-205.3,444.2z M-207.9,442c-0.8-0.4-6.6-5.2-5.7-6.4c1-1.4,0.9-1.2,0.3-3c-1.1-3.4-2.3-5-2.2-8.9c0.1-4.6,0.6-14.7-3.4-17.9 c-2.2-1.7-3.9-2.7-5.4-5.3c-0.8-1.5-3.6-5.2-3.9-6.7c-0.8-4.6,4.2-8,3.1-13.1c-0.5-2.3-6,1.2-7.3-3.5c-1-3.5-6.8-4.7-9.5-4.9 c-1.7-0.1-3.7-1.4-5-2.3c-2.9-1.9-1.2-3.1-2.7-5.6c-0.9-1.4-3.2-7.7-4.4-8.2c-2-0.9,0.8,8.4,1.3,8.4c-2.1-0.1-4.4-10.4-5.3-11.7 c-2.3-3.6,0.3-7.4,2.4-10.2c1.4-1.9,3.2-2.3,3.8-3.6c0-0.1-1.5-4.1-1.7-4.5c-0.7-1.3,2.3-3.6-0.6-5.3c-8.7-5-13,2.8-21.2,2.7 c0.8,0,4.6-2,5-2.7c-0.1,0.1-2.4-0.5-2.7-0.6c0.5-0.2,7.2-6.2,7.6-5.1c0-0.1-3.6,0.4-3.3-0.3c1.6-1.5,3.8-0.4,5.6-1.5 c-2.3-2.2,6.2-3.1,7.6-3.2c4.8-0.4,10.2,2.3,14.7,1.1c1.2-0.3,11.8-1.4,12.2,0.6c-1.3,1.1,7.3,0.7,9,0.8c1.5,0,3.2-0.2,4.7-0.6 c2.2-0.6-0.2-1.3,2.1-2.4c1.5-0.7,2.2,1.6,2.8,2.6c0.7,1.2,2.6-1.5,4-1c1.8,0.7-7.2,4.9-7.4,3.1c0.3,0.4,0.5,0.7,0.8,1 c-2.3,0.7-8.8,2.3-9.6,5.1c-0.5,1.5,4.9,3.5,5.7,3.6c1.9,0.4-0.9,4,1.1,3.9c3-0.1,5.7-7.3,7.3-9.2c1.2-1.4,4.9-2.1,5.6,0.3 c1.4,4.4,0.7,0.6,3.8,0.4c0.8,0,0.5,5.4,0.5,5.8c0,0.4,5.7,0.7-0.4,3c-2.5,0.9-5.1,0.1-7.5,1.2c0.5-0.2-3.3,1.6-2.3,1.8 c0.3,0,4.7-1.5,4.3-0.7c-0.2,0.4,0.5,6.7-2.6,4.7c-0.8-0.5,2-1.1,1.9-1.6c-0.8-2.2-12.8,7.5-13.2,7.1c1.5,0.3-6.8,8-6.7,8 c-0.4,1.3,0.2,2.9,0.1,4.3c-0.2,2.6-1.7-0.1-1.7-1.3c0-5.1-5.7-1.1-7.6-2c-4.4-2-8.6,5-7.4,8.8c0.8,2.4,3.1,3.4,5.3,2 c0,0,4.4-4.8,4.2-1.8c-0.3,4.2-4.5,4.3,1.4,5.1c2.4,0.3,0.4,3.6,0.6,5c0.4,2.7,2.6,1.5,4.3,1.8c2.2,0.5,2,0.4,3.7-1 c0.3-0.2,3.2-2.7,3.5-2.1c-0.1,0.2-1.3,3.4-0.3,3.3c0.8-0.1,0.5-1.3,0.5-1.7c0.2-2.2,4,0.1,4.7,0.4c1.8,0.6,2.9-0.2,4.6,1.3 c2,1.7,2.9,3.1,5.6,3.5c3.6,0.6,3.5,3.9,5.5,6c2.8,2.8,4.7,1.7,8,2.7c4.9,1.6,6,3.9,3.4,8.1c-2.2,3.5-0.6,9.3-3.9,12.1 c-0.3,0.3-2.9,1-3.4,1.2c-2.8,1.3-1.4,1.7-2.3,4.1c-0.9,2.2-1.7,4.6-3.3,6.4c-0.4,0.5-4,0.4-4,0.2c0,1.4,2.6,1.4,1.8,3.2 c-0.9,1-2,1.4-3.3,1.3c-0.4,0.8-0.6,1.6-0.6,2.4c-0.5-0.3-1.1-0.4-1.7-0.5c1.2-1.2,0.1,5.7,0,5.2c0.5,2,1.9,1.4,0.9,4 C-206.7,439.8-206.2,442.9-207.9,442z M-224.5,344.4c0.4-0.9,1.8-2.9,3.1-2.1c-0.1,0.6-0.4,1-0.8,1.4c1.4,1.7,4.8-1.7,3-2 c-3.5-0.6-3.8-4.8-8.3-0.9c1.1,0.5,4.6-0.9,5.4,0.4c-0.2-0.4-5.8,2.8-4.2,4.6C-225.3,346.1-224.7,345.6-224.5,344.4  C-224.1,343.6-224.7,344.9-224.5,344.4z M-220.4,345.8c0.8-0.4,0.9-0.5,0.6-0.8c-0.7-0.7-2,0.3-2.2,1 C-222.3,346.9-219.5,345.3-220.4,345.8C-219.6,345.3-220.9,346-220.4,345.8z M-216.4,344.1c1.3-0.9-1.8-0.9-1.8,0 C-218.2,345-215.9,343.7-216.4,344.1C-215.9,343.7-217,344.5-216.4,344.1z M-199.4,441.4c0-1.6,0.4,0.5-0.8-0.2  c-0.8-0.5,1.7-1.2,2.2-0.5C-197.8,441-199.4,442-199.4,441.4z M-11.1,435.8c0,0,8.2-6.3,8.9-5.2C-1.3,431.8-9.5,436.8-11.1,435.8z M-26.9,432.8c-2.4-1.5,2.2-2.2,3-2.1C-24.8,430.6-25.3,433.8-26.9,432.8z M-0.9,430.9c-0.9-0.9,4.5-5,2.9-6.4  c-0.2-0.2,1.6,4.3,2.1,3.1C3.8,428.3-0.1,431.6-0.9,430.9z M-24.7,428c-0.9-0.9-2.5,0.1-3.6-0.7c-0.6-0.5,0.3-3.3-0.7-3.4 c-0.2,0.3-0.5,0.5-0.8,0.6c0.4-0.6,0.8-1.3,1.1-2c-0.3-0.2-2.1,0.9-2.3,1.4c1.4-3.8-7-2.4-8-2.1c-2.1,0.7-4.2,1.1-6.2,1.8 c-0.8,0.3-4.8-0.2-3.7-0.6c2.7-1,0.1-8.9,1.9-11.3c0.9-1.2,2.6-1.6,3.9-2.1c2.4-0.9,3-2.3,4.9-3.4c1.1-0.7,3.1-3.6,4.8-2.8  c3,1.3,4.4-5,8-2c0.4,0.3-0.6,6.7,3.4,5.4c2-0.7,1.5-6.6,3-6.6c1.9,0,2,7.1,2.4,7.6c1.4,2.1,4.5,5.4,4.2,8 C-13,419.7-20.3,429.7-24.7,428z M-134.7,423.2c-0.8-0.8-3.1-6.5-3.3-7.5c-0.5-3.2-3.4-7.7-3-10.7c0.5-3.7,2.7-5.8,0.8-9.7  c-0.8-1.6-1.6-2.8-2.7-4.2c-1.5-2,0.6-4-0.3-6.2c-0.1-0.4-4-2.6-4.7-2.9c-1.6-0.8-7.8,0.9-9.6,1.4c-5.2,1.4-9.5-8.4-9.6-8.4 c-1.1-1-0.5-8.4,0.1-9.4c1.2-2.3,2.5-4.6,4.6-6.1c2-1.5,1.5-3.2,3.1-4.7c2.8-2.5,8.1-4,12.4-3.7c1.4,0.1,2.9-0.6,4.3-0.2  c1.2,0.4-0.7,3.1,2,3.9c1.9,0.6,3.6,2.5,5.5,2.8c2.3,0.4,0.8-2.6,2.6-2.6c2.6,0,9.4,4.2,11.7,1.6c1.4-1.5,2.3-6.5-1-5.2 c-1.6,0.7-8.5-2.4-6.6-3.6c3.8-1.8,6.1-1.6,10.1-0.8c2.3,0.5,3.4-1.4,1.3-2.8c-2.7-1.8-2.3-0.8-1.8-3.8c0.1-0.8-5.1,1.7-2.3,1.8 c-1.9,0-1.6,0.7-2.9-1.1c-0.4-0.5-5.6,3.8-2.5,5.5c-1.5,0.4-3.8-0.2-5.1,0.9c-0.4,0.4,1.3,3.7-0.2,3.5c-1.9-0.3-0.1-1.8-0.1-1.9 c-0.7-0.3-1.3-0.6-2-0.9c-0.4-0.9-0.8-1.8-1.1-2.7c-1.1-1.3-3.4-2.6-5-3.3c-3-1.2,3.6,5.4,4.6,5.2c-1.2,0.6-1.9,1.6-2.3,2.2 c0.6-2-1.7-3.1-3.1-4c-2.8-1.9-1.7-1.9-5.1-1.6c-4.1,0.4-4.3,5.4-7.6,6.3c-4.5,1.3-6.3,0.3-5.5-4.9c0.5-2.8,3.3-1,5.2-1.1 c4.5-0.1-0.7-4.8-0.7-5.1c0.7-1,3.6-0.7,4.7-1.9c1-1,3.2-2.7,4.5-3.1c1.3-0.4,3.1-6,4.4-2.5c0.6,1.6-1.6,0.4-1.8,0.6  c-1,1,4.2,1.3,4.8,1.1c0.9-0.3,3,0.4,3.5-0.7c0.1-0.8,0.2-1.6,0.5-2.3c0.7,0,1.3,0,2-0.1c0.7-0.7-1.1-1.2-0.4-1.7 c0.2-0.2,4.4-0.1,4-0.9c-0.8-1.4-3.6,0.2-4.9-0.4c-3.1-1.4,1.8-3.1,0.4-4.7c-0.9-1.1-7.1,3.9-3.8,5c0.9,0.3-1.5,2.8-1.7,3.2  c-1.9,3-2.9-1-4-2.2c-2.4,1.6-2.9,0.7-3.8-1.6c-0.5-1.3,4.8-3.1,5.4-4.2c2-3.8,7.5-5.1,11.4-4.2c1.3,0.3,7.7,1.3,8.2,2.7  c0.5,1.2-5,0.1-5.5,0.2c0.1,0,1.9,3.6,3.7,2.9c2-0.8,2.7-2,5-2.6c0.5-0.1,7.8-2.1,7.8-1.9c0-2.8,6.9,1.7,7.1,0.3c0,0-3.1-6,1-3 c0.6,0.4,3,5.4,2.1,5.1c3.7,1.4,0.1-4.7-0.1-4.3c1.9-2.9,22.2-6.8,22.1-3.3c0,0.2-2.4,1.3-2.1,1.6c0.7,0.8,4.7-0.1,5.7-0.2  c3.1-0.2,7.2-0.3,10,1.2c1.6,0.9,4.4,1.2,6.2,0.8c4.1-0.9,6.2-0.3,10.5,0.2c5.6,0.5,11.6,0.3,16.7,1c0.8,0.1,14.3,3.5,13.9,3.9  c-0.8,1.1-3.7-1.1-4.9-0.4c-2,1.2,2.3,2.3,2.7,2.6c0.1,0.1-7.7,2.5-8.1,2.8c-0.1,0,5.8,7.1,3.1,8c-1.5,0.5-4-3.3-4.7-4.2 c-0.6-0.7-0.7-6.8-1.3-6.4c-1.8,1.3-1.1,0.5-3.5,0.8c-0.8,0.1-1.1,0.6-0.9,1.4c-0.3,1.9-2.7,0.4-3.8,0.5c-3.1,0.3-4.2-0.1-5.4,2.9 c-1,2.5,3.3,1.9,4.7,2.9c2,1.4,3.3,4.4,3,6.8c-0.4,3.7-2,1.9-3.6,3.7c-3.3,3.9,4.8,6.3,0.4,8.5c-0.9-2.1-2.6-2.7-3.6-4.5  c-1.2-2.2-2.4,0.5-3-0.7c-0.7-1.3-0.8-1.9-2.3-0.5c-2.8,2.6,2.6,2.4,4,2.8c-1.7,1.1-2.8,2.2-1,3.8c1.1,1,1.7,3,2,3.4 c4.7,5-5.8,7.4-7.7,9.9c-0.5-2.5-5.8-0.1-2.5,2.9c1.5,1.4,3,3.1,2.9,5.3c0,0.7-2.7,3.9-3.4,3.6c-1.1-0.5-2.4-4.8-4.9-4.5 c-3.4,0.4,4.1,10.8,4.1,11.9c0,0.8-3.7-4.5-3.8-5c-0.7-1.7-2.2-1.3-2-3.6c0.2-1.7,0.1-2.8-0.4-4.5c-1-3.5-2.7-0.5-4-3.7  c-0.9-2.3-2.7-4.5-5.1-4.1c-2.5,0.4-5.6,4.8-7.3,6.6c-1.1,1.1-0.5,4.7-1,6.1c-1.8,5.3-8.1-12.5-7.2-12.7c-1.4,0.5-1,2.3-3,0.1  c0.2-0.2,1-0.1,0.9-0.7c-0.3-3.1-8.2-2.5-10-2.6c-1.3-0.1-10.5-4.8-10.5-4.9c-0.4,0.9,1.6,5.7,2.5,4.8c0.7-0.7,1,0.6,1.5,1  c1.4,1.1,2.2-1.1,3.2-1.4c-0.7,0.2,2.5,2.7,2.2,2.6c2.2,1.4,0.4,2.7-0.9,4.2c-2,2.4-6,4.7-8.9,5.8c-5.9,2.1-7.5-13-12.1-15.8  c-0.3-0.2-0.4,0.9-0.4,1c-0.2-0.2-1.4-2-1.7-1.8c-0.1,0.1,4.4,9.6,4.9,10.5c3,5.2,6.5,11.4,12.9,7.6c1.3,6.1-6.7,10.6-9.6,14.8  c-4.1,5.8,3.3,10.8-3.4,15.5c-2.3,1.6-2.4,2.3-1.8,4.8c0.6,2.5-2.7,2.2-2.5,4.7C-121.7,419.6-132.1,426.7-134.7,423.2  C-135.1,422.8-134,424-134.7,423.2z M-105,351.3c0.5-0.3,0.2-5.3,0.5-4.8c-1-1.8-6.2-2.2-1.8-4.1c0.8-0.3-1.7-2-2.7-1.6 c-0.2,0.1-3.9,2-2.3,2.9C-108.5,345.2-109.3,353.6-105,351.3C-104.2,350.9-106.2,351.9-105,351.3z M-111.2,414.3 c-4.8-2.7,4.3-11.2,5-13C-105.2,403.1-107.5,416.4-111.2,414.3z M-0.1,410.4c-0.4-0.5-0.7-2.1-1-2.3c0.4,0.2,2.5,3.6,2.5,3.5  C0.8,411.3,0.3,410.9-0.1,410.4z M-12,399.6c-1.4-0.4-3.6-3.6-5.1-3.2c-1.6,0.5-1.5,2.9-3.7,0.9c-1.5-1.4-1.6-3.2-3.8-4 c-0.4-0.1-6.4-2.4-4-3.7c2.4-1.3,1.9,2.8,3.4,2.3c2.9-0.9,3.2-1.4,6.5-0.1c1.3,0.5,4.8,1.6,4.6,3.6c-0.1,1.8,3.5,3.5,3.2,4.4 C-11.2,399.8-11.6,399.7-12,399.6z M-36.2,398.3c0.4-0.5,2.5-1.8,3.1-0.8C-33.2,397.5-37.6,399.6-36.2,398.3z M-42.7,397.7 c-1.1-0.4,2.1-0.8,1.6-0.1C-41.6,397.8-42.1,397.8-42.7,397.7z M-39.3,397.5c-0.8-0.9,1.7-0.2,1.9-0.1 C-38,397.8-38.7,397.9-39.3,397.5z M-46.3,397.1c-0.4-0.1-6.8-0.7-6.7-1.8c0.2-1.4,9.1,1.3,8.8,1.9 C-44.9,397.4-45.6,397.4-46.3,397.1z M-54.4,394.2c-2.2-1.2-5.9-11.2-7.9-11.2c2.1,0,5.7,3.7,6.7,5.4 C-55.6,388.5-50.8,396.2-54.4,394.2z M-40.1,394c-2.1-3.4,1.7-8.1,5.4-7c0.6,1.7-2.2,1-2.7,0.9c-3.1-0.4-1.1,3,0.5,1.8 c-1.8,1,0.9,2.5-0.3,3.4c-0.6-0.2-1.3-2.2-2-1.6C-39.8,392.4-39.5,393.4-40.1,394z M-44.6,392.1c-2.6-1.4-4.5,0.5-5-3.6 c-0.1-0.9,4-4.5,5-4.8c3.5-1.2,3-2.6,3,1.7c0,3.4,0.3,1.3-0.7,4.4C-42.5,390.7-43.1,392.9-44.6,392.1z M-32.3,388.6 c-0.8-0.8,1-2.3,1-2.4C-31.3,387.4-31.9,388.2-32.3,388.6z M-76.9,382.1c-0.4-0.7-0.4-2.3-0.1-3.1 C-75.5,377.8-75.6,384.1-76.9,382.1z M-218.7,369.9c-0.7-0.4-1.7,0.1-2.5-0.3c1.3,1.1,3.1-3,5.3-0.5 C-215.1,369.9-218.5,369.9-218.7,369.9z M-51.3,369.6c-0.9-0.9,0.8-1.6,1.4-1.3C-49.5,369.9-51.5,369.4-51.3,369.6 C-52.1,368.8-50.9,370-51.3,369.6z M-222.3,368c-0.2-0.2-2.2-1.1-2.7-1.4c-0.8-0.5-4.8-0.6-4.7-0.5c-1.2-1.5,10.6,0.1,9.1,1.7 C-220.9,368-222.2,368-222.3,368C-222.6,367.6-222.1,368.1-222.3,368z M-41.1,365.7c-0.8-0.6-0.8-2.3,0.3-2.7 C-40,362.8-40.5,366-41.1,365.7C-41.7,365.2-40.7,365.9-41.1,365.7z M-31.3,353.8c-1.4-0.7-3.4,2.1-4.5,0c-0.3-0.5,3.5-2,3.9-2.1 c3.4-1.5,0.9-2.8,1.6-4.8c0.4-1.2,2.6,3.6,2.6,4c0.2,2.6-2.5,1-3,2.8 M-31.4,345.6c-0.1-0.2-0.5-3-0.4-3.1c0.5,0.1,3.8,2.2,3.9,2.1 C-28.9,345.1-31.2,346.4-31.4,345.6z M-32.9,341.1c-0.6-0.7-3.6-6.8-4.4-6.6C-34.6,333.6-33.4,340.5-32.9,341.1 C-33.4,340.5-32.6,341.4-32.9,341.1z M-199.9,339.9c-0.8-2.3,3.5-3.8,4.9-0.8C-194.4,340.3-199.5,341-199.9,339.9z M-254,338.4 c-0.8-0.4-0.9-0.8-0.4-1.2c0.7-0.3,2.3,1.5,1.7,1.8C-253.1,339.3-254.7,337.7-254,338.4C-254.8,337.6-253.6,338.7-254,338.4z M-153.1,336.5c0.3-0.4-1.4-0.6-1.3-0.7c0.4-0.6,0.9-1.1,1.5-1.5c1.3-0.9-1.4-1.8-1.3-1.9c0.9-2.6-0.3-1.6,2-1.7 c-1.6,1.7,1.1,3.3,2.7,4.3C-148.2,335.9-153.6,336.8-153.1,336.5z M-158.5,336c-1.2-3,4.6-4.3,3.1-1.8 C-155.6,334.7-157.9,337.5-158.5,336C-159.1,334.3-158.4,336.2-158.5,336z M-184.9,327.1c-5.5-3,2.1-6.5,1-8.6 c-0.7-1.3-1.4-3.4-2.6-4.3c-0.9-0.7-5.5,0.5-5.4-1.3c0.2-3,15.5-2.7,17.7-3c6-0.7,11.4-0.8,17.3,0.2c-1-0.2-3.8,1.5-4.2,2.8 c-0.7,2.9-4.6,2-5.3,3.6c0.7,0.7,1.5,1.3,2.4,1.8c-0.6,0.3-3.2-0.9-3.4-0.6c0.2,0.6,0,0.7-0.5,1c0,0.5,1.9,0.1,2.2,0.4 c-0.7-0.9-9.8,3.2-11.1,3.5C-179.9,323.5-181.7,328.9-184.9,327.1z M-200.9,325.6c-0.6-0.6-1.2-1.3-1.9-1.8 c-0.9,0.1,3.4-1.5,3.9-1.7c0.6-0.3-3.1-3.4-4.1-3.5c-1.4-0.1-4.2,0.7-5.5-0.1c-1.7-1.2,4.2-1.7,4.2-1.7c2.2-0.4,5.2,0.5,6.8,1.9 c0.3,0.3,5,4.8,2.2,4.3c-0.4-0.1-3.1-1.5-2.3,0.5c1.2,3.1-1.7,0.2-2.2,1.2c0.3,0.4,0.7,0.8,1.1,1.2 C-199.2,326.8-201.3,325.3-200.9,325.6C-201.6,325.2-200,326.1-200.9,325.6z M-164.6,324.6c-0.5,0-1-0.2-1.3-0.6 c0.5-1.8,5.2-1.6,6.2-0.6C-160.8,324.3-163.1,325.5-164.6,324.6C-165,324.3-164.2,324.8-164.6,324.6z M-225.8,320.4 c-1-0.2-1.9-0.6-2.8-1.1c2.8-0.2,6.4-3.2,9.9-2.8c1.5,0.2,0.7,3.9-2,3.5C-222.2,319.8-225.6,320.4-225.8,320.4 C-226.8,320.2-224.7,320.5-225.8,320.4z M-113.2,318.5c-0.3-0.1-0.6-0.3-1-0.4c-1.1-1.2,6.8-5.9,8.1-3.7c0,0-7.7,1.3-4.9,4.5 C-111.7,318.8-112.4,318.7-113.2,318.5z"/>
		</defs>
	</svg>
</figure>

<div class="stars"></div>


	</body>

	</html>