<%- include header %>
<link rel="stylesheet" href="/stylesheets/button.css">
<div>
    <a href="" class="button button-glow button-rounded button-highlight">返回</a>
</div>
<form id="login" method="post">
    <h2>Welcome</h2>
    <fieldset id="inputs">
        <input id="username" name="username" type="text" placeholder="Username" autofocus required>
        <input id="password" name="password" type="password" placeholder="Password" required>
    </fieldset>
    <fieldset id="actions">
        <a href="" class="a1">
        <input type="submit" id="submit" value="登录">
        </a>
        <a href="/forget_password" class="a2">忘记密码？</a><a href="/reg" class="a2">注册账号✔</a>
    </fieldset>
</form>
<%- include footer %>
