<!DOCTYPE html>
<html>
<body>
    <meta charset="UTF-8" />
    <title>味蕾挑战</title>
<script style='text/javascripts' src='/javascripts/map.js' ></script>
<script style='text/javascripts' src='/javascripts/raphael.js' ></script>
<script style='text/javascripts' src='/javascripts/chinamapPath.js' ></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/map.css"


</head>
   <body>
<div id="main">
   <div class="demo">
       <div id="map"></div>
   </div>

</div>
    <div class="log-in">
    <a href="/" >回到主页</a>

</div>


    <nav class="nav">
    <input type="checkbox" class="nav__cb" id="menu-cb"/>
    <div class="nav__content">
    <ul class="nav__items">
    <li class="nav__item"><span class="nav__item-text"><a class="nav__item" href="/manage">  管理处  </a></span> </li>
    <li class="nav__item"> <span class="nav__item-text"><a class="nav__item" href="/comments">  讨论区 </a></span> </li>
    <li class="nav__item"> <span class="nav__item-text"><a class="nav__item" href="/userOpinions"> 意见区 </a></span> </li>
    <li class="nav__item"> <span class="nav__item-text"> <a class="nav__item" href="/showfeedback">查看反馈 </a> </span> </li>
</ul>
</div>
<label class="nav__btn" for="menu-cb"></label>
    </nav>





</body>

</html>